<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)">
  <div class="card-category">Expert</div>
  <div class="card-description">
    <ul class= "card-talents">
      <!-- pour chaque talent de user on crée un li -->
      <% @talents.each do |talent| %>
        <li>
          <%= talent.user.first_name %> <br>
          <%= talent.instrument %>
          <%= cl_image_tag talent.user.photo, class: "card-user" %>
        </li>
      <% end %>
    </ul>
  </div>
  <%= link_to "", talent_path(talent), class: "card-link" %>
</div>

