.tabs-over-to-come {
  background: white;
  display: flex;
  padding: 10px 10px 0 10px
}
.tabs-over-to-come a {
  color: white;
}
.tabs-over-to-come a:hover {
  cursor: pointer;
  text-decoration: none;
  opacity: 0.8;
}
.tabs-over-to-come h3 {
  font-size: 17px;
  font-weight: bold;
  margin-top: 0;
}
.ttabs-over-to-come p {
  opacity: 0.5;
  margin-bottom: 0;
}
.tab {
  background: $primary;
  flex: 0 0 25%;
  text-align: center;
  padding: 20px 0;
}
.tab:first-child {
  border-radius: 10px 0 0 0;
}
.tab:last-child {
  border-radius: 0 10px 0 0;
}
.tab.active {
  background: white;
  color: black;
}

.musicians-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  background-color: white;
}

.card-resa-talents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
}
