// Import your layouts CSS files here.
// Examples:
// @import "dashboard";
// @import "profile";
// @import "map";
a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

body {
  padding-top: 80px;
  // background: $primary;
}
