// Import your layouts CSS files here.
// Examples:
// @import "dashboard";
// @import "profile";
// @import "map";
html {
  // background: $primary;
}

.section-user {
  background: $primary;
  color: rgba(255,255,255,1);
  display: flex;
  align-items: center;
  #user {
    background: white;
    display: flex;
    height: 100vh;
    color: $primary;
    .user-picture {
    width: 25vw;
    background: $primary;
    box-shadow: 0 0 50px 0 rgba(0,0,0,.5);
    padding: 24px;
    margin: 0;
    }
    .user-descritpion {
      position: relative;
      right: 0;
      width: 45vw;
      padding: 48px;
    }
  }
  .alert {
    display: none;
  }
}
