<h1>Swing Home Page</h1>

<div class="container">
  <div class="row">
  <!-- pour chaque user qui a au moins un talent on lui crée une card qui est située dans un partial dans le dossier views/talents -->
    <% @talented_users.each do |talented_user| %>
      <div class="col-xs-12 col-sm-4">
        <%= render 'talents/talent_card', talented_user: talented_user %>
      </div>
    <% end %>
  </div>
</div>
