.card {
  height: 175px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.07);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  margin-top: 70px;
}
.card-user {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.card-talents{
  font-size: 12px;
  width: 340px;
  list-style-type: none;
}
.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 15px;
  text-transform: uppercase;
}
.card-description {
  position: absolute;
  bottom: 10px;
  left: -80px;
  text-align: center;
}
.card-description h2 {
  font-size: 24px;
}
.card-description p {
  font-size: 14px;
  opacity: 0.7;
  font-weight: lighter;
}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.card-link:hover {
  opacity: 0.1;
}

.card-user-result{
    text-align: center;
    position: relative;
    bottom: 42px;
    left: 100px;
}
