// Import your components CSS files here.
@import "alert";
@import "navbar";
@import "avatar";
@import "icons";
@import "form";
@import "banner";
@import "resa_table";
@import "texts";
@import "btn";
@import "tabs";
@import "form";
@import "footer";
@import "cardresultpage";
