/* Main navbar */
nav {
  padding: 0px 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0px;
  width: 100vw;
  z-index: 100;
  strong {
    font-size: 3em;
    // color: $primary;
  }
  a {
    color: white;
    font-weight: bold;

  }
  form {
    input {
      color: white;
      border: none;
      outline: none;
      box-shadow: none;
      background: $transparent;
      padding: 4px 2px;
    }
    input[type="text"]{
      color: white;
      border-radius: none !important;
      &:focus {
      background: rgba(255,255,255,.25);
      }
    }
    ::placeholder{
      color: white;
    }
    input[type="submit"]{
      &:focus{
        background: $primary;
        color: white;
      }
    }
  }
}
