.tabs-over-to-come {
  background: none;
  display: flex;
  justify-content: center;
  padding: 5px 5px 0 5px;
  margin: 30px 250px;
}
.tabs-over-to-come a {
  color: black;
}
.tabs-over-to-come a:hover {
  cursor: pointer;
  text-decoration: none;
  opacity: 0.8;
}
.tabs-over-to-come h3 {
  font-size: 13px;
  font-weight: bold;
  margin-top: 0;
}
.tabs-over-to-come p {
  font-size: 13px;
  opacity: 0.5;
  margin-bottom: 0;
}
.tab {
  background: white;
  flex: 0 0 25%;
  text-align: center;
  padding: 20px 0;
}
.tab:first-child {
  border-radius: 50px 0 0 50px;
}
.tab:last-child {
  border-radius: 0 50px 50px 0;
}
.tab.active {
  background: $primary;
  color: white;
}

